<nav class="navbar">
    <a href="/home" class="navbar-brand"> StudySphere </a>
    <div class="navbar-container">
        <ul class="navbar-menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/material">Study Materials</a></li>
            <li><a href="/discussion">Discussion Forums</a></li>
            <li><a href="/collaborate">Mentor Hub</a></li>
            <li><i class="fa-regular fa-user"></i><a href="/profile">Profile</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>
        <div class="navbar-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>