<%= layout("/layouts/boilerplate.ejs") %>

    <div id="xsx">
        <div id="xax" class="alert alert-success col-8 mb-4" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Great !! we are glad to see you here,here you will book your tutor for an online or offline meet by your
                choice.</p>
            <hr>
            <p class="mb-0">However, the confirmation is in hands of tutor,we don't take any responsibilities</p>
        </div>
    </div>
    <div id="tre">
        <div id="trr">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">mentor name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">your user name</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
            </div>

            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>best time according to you</option>
                    <option value="1">6 p.m</option>
                    <option value="2">8 p.m</option>
                    <option value="3">10 p.m</option>
                </select>
                <label for="floatingSelect">Works with selects</label>
            </div>

            <div class="form-check mb-3 mt-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    <p>you can not unappoint the mentor once submit</p>
                </label>
            </div>

            <div class="form-check mt-3 mb-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    <p>subscribe to this mentor</p>
                </label>
            </div>

            <button type="button" class="btn btn-success"><a id="z" href="/collaborate/done">appoint</a></button>

        </div>
    </div>