<%= layout("/layouts/boilerplate.ejs") %>

<div class="alert alert-primary cols-8 mt-3" role="alert">
    Notes are written in very simple langauge.
  </div>
  <div class="alert alert-primary" role="alert">
    for summary ask to chatbot!
  </div>

  <div id="ss">
    <div id="jj"><a href="https://instituteofeducation.ie/wp-content/uploads/2020/11/Maths_LC_Notes_Calculus.pdf"><img id="vv"   src="https://wordsmithofbengal.files.wordpress.com/2021/08/calculus_score-sheet.png" /></a></div>
    <div id="te"><a href="https://www.cse.iitd.ac.in/~mausam/courses/col106/autumn2017/lectures/15-graphs.pdf"><img id="vv" src="https://images.ctfassets.net/pdf29us7flmy/4FaqpZFMenRQoDl0LGqFes/02c40a20ee37917f3e117b9c599f132d/GOLD-6487-CareerGuide-Batch04-Images-GraphCharts-01-Line.png?w=720&q=100&fm=jpg"/></a></div>
    <div id="mc"><a href="https://www.govst.edu/uploadedFiles/Academics/Colleges_and_Programs/CAS/Trigonometry_Short_Course_Tutorial_Lauren_Johnson.pdf"><img id="vv" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfG7dBBVMa_q8O7AYUDs6uUNFn3JqmVfdG_g&s"/></a></div>
  </div>

 <p class="mt-3">More notes will be added in fututre!</p>