<%= layout("/layouts/boilerplate.ejs") %>

<div class="quiz">
<div class="quiz-container">
    <h2>History Quiz</h2>
    <div class="question">
        <p>Question 1:Who was the first President of the United States?</p>
        <ul>
            <li><input type="radio" name="q1" value="a"> George Washington</li>
            <li><input type="radio" name="q1" value="b"> Thomas Jefferson</li>
            <li><input type="radio" name="q1" value="c"> Abraham Lincoln</li>
            <li><input type="radio" name="q1" value="d"> John F. Kennedy</li>
        </ul>
    </div>
    <button type="submit">Submit</button>
</div>

<div class="quiz-container">
    <h2>Science Quiz</h2>
    <div class="question">
        <p>Question 1:What is the largest organ in the human body?</p>
        <ul>
            <li><input type="radio" name="q1" value="a"> Heart</li>
            <li><input type="radio" name="q1" value="b"> Liver</li>
            <li><input type="radio" name="q1" value="c"> Skin</li>
            <li><input type="radio" name="q1" value="d"> Lungs</li>
        </ul>
    </div>
    <button type="submit">Submit</button>
</div>

<div class="quiz-container">
    <h2>Science Quiz</h2>
    <div class="question">
        <p>Question 1:Which of the following is a renewable energy source?</p>
        <ul>
            <li><input type="radio" name="q1" value="a"> Coal</li>
            <li><input type="radio" name="q1" value="b"> Oil</li>
            <li><input type="radio" name="q1" value="c"> Natural Gas</li>
            <li><input type="radio" name="q1" value="d"> Solar Energy</li>
        </ul>
    </div>
    <button type="submit">Submit</button>
</div>
</div>