<%= layout("/layouts/boilerplate.ejs") %>

<h2><u> Here are your Lectures</u></h2>
    <div class="row">
        <div class="column" >
          <h2>maths</h2>
          <p>Lect-01</p>
          <div class="vid">
            <iframe src="https://www.youtube.com/embed/p22RK74SDlI?si=IP9FAQ-xDk6ylvn-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>

        <div class="column" >
          <h2>maths</h2>
          <p>Lect-02</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/P2qf8aY_ymY?si=HpwN3Uo8TARwka3i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> </div>
        </div>

        <div class="column" >
          <h2>maths</h2>
          <p>Lect-03</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/32w60JcJuUw?si=h1iVy0dcjULzKsYM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

        <div class="column">
          <h2>history</h2>
          <p>Lect-04</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eHEv5aF5td8?si=vwvK0pEUeEAE5Utq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

      </div>


      <div class="row">
        <div class="column">
          <h2>history</h2>
          <p>Lect-05</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eHEv5aF5td8?si=T-bRik-2KGSKjF2S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

        <div class="column">
          <h2>history</h2>
          <p>Lect-06</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Msmv61GJbys?si=zRQnS54Hd7g0p-yJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

        <div class="column">
          <h2>history</h2>
          <p>Lect-07</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9n5T8KHVTn0?si=dk3J5fARIEYYwwYp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

        <div class="column">
          <h2>history</h2>
          <p>Lect-08</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IjR3--5ivtQ?si=PvELgjjcAkIYhSf6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

      </div>

      <div class="row">
        <div class="column">
          <h2>physics</h2>
          <p>Lect-09</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4sc45L8UjQI?si=G9BW3caExsxqNaSF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

        <div class="column">
          <h2>physics</h2>
          <p>Lect-10</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/b1t41Q3xRM8?si=Xnx4QNNNhfg6TJ6U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

        <div class="column">
          <h2>physics</h2>
          <p>Lect-11</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/g550H4e5FCY?si=zEgQ3lxo2hVEnvVZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

        <div class="column">
          <h2>chemistry</h2>
          <p>Lect-12</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GPrTd_MvFg0?si=4yYGCf9DtmgE3ZS2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

      </div>

      <div class="row">
        <div class="column">
          <h2>chemistry</h2>
          <p>Lect-13</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YJFrARvzgII?si=2-Vr1sQQtdpubcg8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

        <div class="column">
          <h2>economics</h2>
          <p>Lect-14</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eVAzhXIZNvw?si=l7kMeXA8jiX3o-jP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

        <div class="column">
          <h2>biology</h2>
          <p>Lect-15</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Z9TbdyvZero?si=8_XFcK82e9AW0O3C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

        <div class="column">
          <h2>biology</h2>
          <p>Lect-16</p>
          <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CYFDq9GoaKk?si=c3bNUmjwl3ihddlr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>

      </div>