body,
* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar Logo */
.navbar-brand {
    color: #C2FFC7 !important;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem !important;
    font-weight: bold;
    margin-left: 30px;
}

.navbar-brand:hover {
    color: #ffcc00 !important;
}

.navbar-brand::after {
    content: "✨";
    font-size: 1.2em;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.navbar-brand:hover::after {
    transform: rotate(20deg);
}



/* Navbar */
.navbar {
    background-color: #526E48;
    overflow: hidden;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.navbar-menu a:hover {
    background-color: #9EDF9C;
    border-radius: 5px;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin-bottom: 5px;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        display: none;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
    }
}

i {
    background-color: white;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        display: none;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
    }
}

i {
    background-color: white;
}

/* Home Page */
header {
    width: 100% !important;
    background-color: #9EDF9C;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

header input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

section {
    padding: 20px;
    margin: 20px;
}

h2 {
    color: #0044cc;
}

.feature-list,
.materials-list,
.discussions-list,
.sessions-list,
.testimonials-list,
.recommendations-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.feature-item,
.testimonials-item,
.recommendations-item {
    flex: 1 1 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


footer {
    background-color: #62825D;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Discussion */
.discussions {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.discussions h2 {
    color: #0044cc;
    border-bottom: 2px solid #0044cc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.discussions-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.discussion-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
    position: relative;
}

.discussion-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.discussion-item h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.4em;
}

.discussion-item p {
    color: #666;
    margin: 5px 0;
}

.discussion-item .deleteDiscussion {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    float: right;
}

.discussion-item button {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #0044cc;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    border: none;

}

.discussion-item button:hover {
    background-color: #003399;
}

.discussion-item a:hover {
    opacity: 0.7;
}

.discussion-item .msg {
    color: #526E48;
    font-weight: bold;
}

.discussions .askDoubt {
    padding: 5px 15px;
    margin-bottom: 18px;
    border: none;
    border-radius: 10px;
    background-color: coral;
}

.discussions .askDoubt:hover {
    opacity: 0.8;
}

/* Material */
.content {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.content h2 {
    color: #0044cc;
    border-bottom: 2px solid #0044cc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.materials-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.material-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
}

.material-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.material-item h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.4em;
}

.material-item p {
    color: #666;
    margin: 5px 0;
}

.material-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #0044cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.material-item a:hover {
    background-color: #003399;
}

/*Quiz Section*/
.quiz {
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-container {
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

.question {
    margin-bottom: 20px;
}

.question ul {
    list-style-type: none;
    padding: 0;
}

.question li {
    margin-bottom: 10px;
}

.quiz-container button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #9EDF9C;
}

/* Watch Video Section */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 250px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #9EDF9C;
}

.row {
    margin: 50px;
}

.vid {
    height: 60%;
    width: 100%;
    background-color: #9EDF9C;
    margin-top: 20px;
    text-align: center;
}

iframe {
    height: 100%;
    width: 100%;

}

h2 {
    margin-top: 10px;
    text-align: center;
}

/* Pdf Section */
#ss {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#jj, #te, #mc {
    width: 25%;
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 15px;
}

#vv {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Profile Page */
.profile-container {
    background: rgb(127, 238, 219);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 400px;
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-header h1 {
    margin: 0;
}

.profile-header p {
    color: #666;
    font-size: 10px;
}

.profile-content h2 {
    margin-top: 20px;
    color: #08fbd7;
}

.profile-content p,
.profile-content ul {
    margin: 10px 0;
    color: #333;
}

button {
    background-color: #ff0019;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    text-align: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Collaborate Page */
#xsx{
    display: flex;
    justify-content: center;
    align-items: center;
}
#xax{
    margin-top: 100px;
}
#tre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#trr{
    width: 50vw;
    height: 450px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 15px;
    border-radius: 30px;
}
#z{
    text-decoration: none;
    color: white;
}

/* Appointment done */

